/* line 7, sass/layout/_grid.scss */
.l-constrain {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media screen and (min-width: 48.062em) {
  /* line 7, sass/layout/_grid.scss */
  .l-constrain {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 76.25em) {
  /* line 7, sass/layout/_grid.scss */
  .l-constrain {
    max-width: 76.25rem;
  }
}

@media screen and (min-width: 83.75em) {
  /* line 7, sass/layout/_grid.scss */
  .l-constrain {
    max-width: 83.125rem;
  }
}

/* line 31, sass/layout/_grid.scss */
.l-grid {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

/* line 20, node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.l-grid::after {
  clear: both;
  content: "";
  display: table;
}

/* line 36, sass/layout/_grid.scss */
.l-constrain .l-grid {
  margin-left: 0;
  margin-right: 0;
}

/* line 42, sass/layout/_grid.scss */
.l-grid__row {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

/* line 20, node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.l-grid__row::after {
  clear: both;
  content: "";
  display: table;
}

/* line 48, sass/layout/_grid.scss */
.l-grid__column {
  box-sizing: border-box;
  float: left;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
}

@media screen and (min-width: 48.062em) {
  /* line 55, sass/layout/_grid.scss */
  .l-grid--cols-2 .l-grid__column {
    width: 50%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 60, sass/layout/_grid.scss */
  .l-grid--cols-3 .l-grid__column {
    width: 33.333%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 65, sass/layout/_grid.scss */
  .l-grid--cols-4 .l-grid__column {
    width: 25%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 70, sass/layout/_grid.scss */
  .l-grid--cols-5 .l-grid__column {
    width: 20%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 75, sass/layout/_grid.scss */
  .l-grid--cols-6 .l-grid__column {
    width: 16.667%;
  }
}

/* line 5, sass/layout/_page.scss */
.page {
  background-color: #f7f7f7;
}
