/* line 11, sass/components/components/_accordion.scss */
.accordion {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
}

/* line 16, sass/components/components/_accordion.scss */
.accordion > li {
  margin: 0;
}

/* line 23, sass/components/components/_accordion.scss */
.accordion > li:before {
  content: "\200B";
  position: absolute;
}

/* line 32, sass/components/components/_accordion.scss */
.accordion__heading {
  background-color: #fefefe;
  border-radius: 6px;
  color: #111;
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: relative;
  text-decoration: none;
  z-index: 2;
  box-shadow: #f1f1f1 0 7px 8px;
}

/* line 44, sass/components/components/_accordion.scss */
.js .accordion__heading {
  font-size: inherit;
  margin: -1px 0 0;
}

/* line 49, sass/components/components/_accordion.scss */
.js .accordion__trigger {
  -webkit-appearance: none;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 0.8em;
  letter-spacing: .01em;
  font-weight: 700;
  padding: 1.25em 3em 1.25em 1em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

/* line 65, sass/components/components/_accordion.scss */
.js .accordion__trigger:hover {
  background-color: #fefefe;
  color: #82BE43;
  outline: none;
}

/* line 70, sass/components/components/_accordion.scss */
.js .accordion__trigger:hover:after {
  color: #82BE43;
}

/* line 75, sass/components/components/_accordion.scss */
.js .accordion__trigger:focus {
  outline: none;
}

/* line 84, sass/components/components/_accordion.scss */
.js .accordion__trigger:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f35b";
  color: #333;
  font-size: 26px;
  right: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

/* line 111, sass/components/components/_accordion.scss */
.accordion__trigger[aria-disabled="true"]:hover {
  background-color: #fefefe;
  color: #82BE43;
  cursor: not-allowed;
}

/* line 117, sass/components/components/_accordion.scss */
.accordion__trigger[aria-disabled="true"]:focus {
  background-color: #0a2a42;
}

/* line 122, sass/components/components/_accordion.scss */
.accordion__trigger[aria-expanded="true"] {
  background: #fefefe;
  color: #82BE43;
}

/* line 126, sass/components/components/_accordion.scss */
.accordion__trigger[aria-expanded="true"]:after {
  color: #82BE43;
  transform: translateY(-50%);
}

/* line 135, sass/components/components/_accordion.scss */
.js .accordion__panel {
  background-color: #fefefe;
  border-radius: 6px;
  font-size: 0.8em;
  max-height: 0vh;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  z-index: 1;
  margin-top: -.1em;
}

/* line 147, sass/components/components/_accordion.scss */
.js .accordion__panel ul {
  list-style: none;
  padding-left: 0;
}

/* line 152, sass/components/components/_accordion.scss */
.js .accordion__panel li {
  padding: 0.5rem 1rem;
}

/* line 155, sass/components/components/_accordion.scss */
.js .accordion__panel li:not(:last-child) {
  border-bottom: 1px solid #F5F5F5;
}

/* line 160, sass/components/components/_accordion.scss */
.js .accordion__panel > :last-child {
  margin-bottom: 0;
}

/* line 164, sass/components/components/_accordion.scss */
.js .accordion__panel[aria-hidden="false"] {
  max-height: 100vh;
  overflow: auto;
  padding: 1.25em 0;
  visibility: visible;
}

/* line 3, sass/components/components/_hero.scss */
.site-hero {
  position: relative;
  padding-left: 1.111rem;
  padding-right: 1.111rem;
}

/* line 8, sass/components/components/_hero.scss */
.site-hero img {
  width: 100%;
}

@media screen and (min-width: 48.062em) {
  /* line 14, sass/components/components/_hero.scss */
  .site-hero__slogan {
    bottom: 5.556rem;
    color: #fefefe;
    font-size: 2.441em;
    left: 1.111rem;
    left: calc((100% - 90%)/2);
    margin: auto;
    max-width: 42rem;
    position: absolute;
    z-index: 1;
  }
}

@media screen and (min-width: 76.25em) {
  /* line 14, sass/components/components/_hero.scss */
  .site-hero__slogan {
    bottom: 6.667rem;
    left: 3.333rem;
    left: calc((100% - 64.444rem)/2);
    font-size: 3.052em;
    max-width: 56rem;
  }
}

@media screen and (min-width: 83.75em) {
  /* line 14, sass/components/components/_hero.scss */
  .site-hero__slogan {
    left: 3.333rem;
    left: calc((100% - 64.444rem)/2);
  }
}

/* line 44, sass/components/components/_hero.scss */
.site-hero__slogan strong {
  display: inline-block;
  font-weight: normal;
  position: relative;
}

/* line 49, sass/components/components/_hero.scss */
.site-hero__slogan strong:after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100%;
  background: #82BE43;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
}

/* line 3, sass/components/components/_node.scss */
.node--unpublished {
  opacity: .5;
}

/* line 6, sass/components/components/_node.scss */
.node--unpublished:before {
  content: '';
  display: block;
  height: 2.222rem;
  width: 100%;
  border-radius: 3px;
  background: repeating-linear-gradient(-45deg, yellow, yellow 10px, #111 10px, #111 20px);
}

/* line 3, sass/components/components/_page-intro.scss */
.page-intro {
  margin-left: 1.111rem;
  margin-right: 1.111rem;
}

@media screen and (min-width: 48.062em) {
  /* line 11, sass/components/components/_page-intro.scss */
  .page-intro__text {
    margin-left: auto;
    margin-right: auto;
    width: 83.333%;
  }
}

@media screen and (min-width: 83.75em) {
  /* line 11, sass/components/components/_page-intro.scss */
  .page-intro__text {
    width: 66.667%;
  }
}

/* line 3, sass/components/components/_reals-teasing.scss */
.reals-teasing {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

@media screen and (min-width: 48.062em) {
  /* line 3, sass/components/components/_reals-teasing.scss */
  .reals-teasing {
    display: flex;
    margin-left: -rem(10);
    margin-right: -rem(10);
    margin-top: 10.5rem;
    margin-bottom: 7.5rem;
  }
}

/* line 15, sass/components/components/_reals-teasing.scss */
.reals-teasing .left,
.reals-teasing .right {
  margin-left: 0.556rem;
  margin-right: 0.556rem;
}

/* line 21, sass/components/components/_reals-teasing.scss */
.reals-teasing .left {
  flex: 1 1 66.66%;
}

@media screen and (min-width: 48.062em) {
  /* line 21, sass/components/components/_reals-teasing.scss */
  .reals-teasing .left {
    display: flex;
    margin-left: -rem(20);
    margin-right: -rem(20);
  }
}

@media screen and (min-width: 48.062em) {
  /* line 31, sass/components/components/_reals-teasing.scss */
  .reals-teasing .reals-item {
    border-right: 1px solid #C7DAD3;
    padding-left: 1.111rem;
    padding-right: 1.111rem;
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 39, sass/components/components/_reals-teasing.scss */
  .reals-teasing .reals-item:first-child {
    margin-top: -3rem;
  }
}

/* line 46, sass/components/components/_reals-teasing.scss */
.reals-teasing .right {
  flex: 1 1 33.33%;
}

@media screen and (min-width: 76.25em) {
  /* line 51, sass/components/components/_reals-teasing.scss */
  .reals-teasing__title {
    font-size: 1.953em;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 3, sass/components/components/_section-expertise.scss */
  .section-expertise {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* line 12, sass/components/components/_section-expertise.scss */
.section-expertise__title:after {
  content: "";
  display: block;
  height: 6px;
  width: 52px;
  background-color: #82BE43;
  border-radius: 3px;
  margin: 1.5rem auto;
  margin-left: 0;
}

@media screen and (min-width: 48.062em) {
  /* line 18, sass/components/components/_section-expertise.scss */
  .section-expertise__content {
    flex: 0 1 28.444rem;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 24, sass/components/components/_section-expertise.scss */
  .section-expertise__figure {
    margin-right: 3rem;
  }
}

/* line 31, sass/components/components/_section-expertise.scss */
.section-expertise__list-wrapper ul {
  list-style: none;
  padding-left: 0;
}

/* line 35, sass/components/components/_section-expertise.scss */
.section-expertise__list-wrapper ul li {
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 1.556rem;
}

/* line 41, sass/components/components/_section-expertise.scss */
.section-expertise__list-wrapper ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  color: #82BE43;
  left: 0;
  position: absolute;
  top: 0;
}

/* line 4, sass/components/components/_section-materials.scss */
.section-materials > h2 {
  text-align: center;
}

/* line 9, sass/components/components/_section-materials.scss */
.section-materials__title {
  font-size: 1.953em;
}

/* line 12, sass/components/components/_section-materials.scss */
.section-materials__title:after {
  content: "";
  display: block;
  height: 6px;
  width: 52px;
  background-color: #82BE43;
  border-radius: 3px;
  margin: 1.5rem auto;
}

/* line 17, sass/components/components/_section-materials.scss */
.materials {
  transition: all 1600ms linear;
}

/* line 29, sass/components/components/_section-materials.scss */
.materials-summary {
  display: flex;
  flex-wrap: wrap;
}

/* line 34, sass/components/components/_section-materials.scss */
.materials-summary__item {
  box-sizing: border-box;
  text-align: left;
  flex-basis: 33.33%;
  padding-bottom: 2.222rem;
  padding-top: 2.222rem;
}

/* line 42, sass/components/components/_section-materials.scss */
.materials-summary__item:nth-child(6n+1), .materials-summary__item:nth-child(6n+2), .materials-summary__item:nth-child(6n+3) {
  text-align: center;
  padding-left: 2.778rem;
}

/* line 54, sass/components/components/_section-materials.scss */
.materials-summary__link {
  display: inline-block;
}

/* line 58, sass/components/components/_section-materials.scss */
.materials-summary__link:hover .materials-summary__image {
  box-shadow: #fefefe 0 0 0 3px, #82BE43 0 0 0 6px;
}

/* line 62, sass/components/components/_section-materials.scss */
.materials-summary__link:hover .materials-summary__title {
  color: #82BE43;
}

/* line 69, sass/components/components/_section-materials.scss */
.materials-summary__link .materials-summary__image {
  transform-origin: 50% 80%;
  transform: scale(0.001) translateY(270px);
  transition: transform 800ms cubic-bezier(1, -0.3, 0.3, 0.7), box-shadow 150ms linear;
}

/* line 76, sass/components/components/_section-materials.scss */
.materials-summary__link .materials-summary__title {
  transform: translateY(8px);
  opacity: 0;
}

/* line 82, sass/components/components/_section-materials.scss */
.materials-summary__link.is-visible .materials-summary__image {
  transform-origin: 50% 100%;
  transform: scale(1);
}

/* line 87, sass/components/components/_section-materials.scss */
.materials-summary__link.is-visible .materials-summary__title {
  transform: none;
  opacity: 1;
}

/* line 95, sass/components/components/_section-materials.scss */
.materials-summary__image {
  border-radius: 50%;
  display: block;
  max-width: 8.333rem;
  line-height: 0;
  overflow: hidden;
  text-decoration: none;
  box-shadow: #fefefe 0 0 0 3px, #82BE43 0 0 0 2px;
}

/* line 105, sass/components/components/_section-materials.scss */
.materials-summary__title {
  color: #333;
  font-family: "Playfair Display", "Georgia", "Times", "Times New Roman", serif;
  font-size: 0.889rem;
  left: -2.222rem;
  margin-top: 0.75rem;
  position: absolute;
  right: -2.222rem;
  text-align: center;
  top: 100%;
}

/* line 117, sass/components/components/_section-materials.scss */
.tab-title {
  margin-top: 1.5rem;
  margin-bottom: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}

/* line 125, sass/components/components/_section-materials.scss */
.tab-title.is-visible {
  opacity: 1;
  visibility: visible;
  transform: none;
}

/* line 134, sass/components/components/_section-materials.scss */
.tab-list {
  margin: 0 0 0.5rem;
  padding: 0;
  text-align: center;
}

/* line 140, sass/components/components/_section-materials.scss */
.tab-item {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  max-width: 2.778rem;
  overflow: hidden;
  line-height: 0;
  margin: 0 .25em;
  transition: transform 400ms cubic-bezier(0.03, 0.14, 0.34, 1.35), box-shadow background 250ms linear;
  transform: scale(0.01);
  box-shadow: #fefefe 0 0 0 2px, #82BE43 0 0 0 1px;
}

/* line 152, sass/components/components/_section-materials.scss */
.tab-item.is-visible {
  transform: none;
}

/* line 156, sass/components/components/_section-materials.scss */
.tab-item.is-active {
  background: #82BE43;
  box-shadow: #fefefe 0 0 0 2px, #82BE43 0 0 0 4px;
}

/* line 160, sass/components/components/_section-materials.scss */
.tab-item.is-active img {
  opacity: .6;
}

/* line 166, sass/components/components/_section-materials.scss */
.tab-item:hover {
  box-shadow: #fefefe 0 0 0 2px, #82BE43 0 0 0 4px;
}

/* line 171, sass/components/components/_section-materials.scss */
.tab-link {
  display: block;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 100ms cubic-bezier(0.42, 0, 1, 1);
}

/* line 183, sass/components/components/_section-materials.scss */
.tab-panel {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity transform;
  transform: translateY(40px);
}

@media screen and (min-width: 48.062em) {
  /* line 183, sass/components/components/_section-materials.scss */
  .tab-panel {
    margin-left: auto;
    margin-right: auto;
    width: 83.333%;
  }
}

@media screen and (min-width: 83.75em) {
  /* line 183, sass/components/components/_section-materials.scss */
  .tab-panel {
    width: 66.667%;
  }
}

/* line 203, sass/components/components/_section-materials.scss */
.tab-panel.is-active {
  transform: none;
  overflow: visible;
  max-height: 200rem;
  opacity: 1;
  visibility: visible;
}

/* line 215, sass/components/components/_section-materials.scss */
.tab-panel .align-right {
  float: none;
}

@media screen and (min-width: 30em) {
  /* line 215, sass/components/components/_section-materials.scss */
  .tab-panel .align-right {
    float: right;
    margin: 0 -3rem 1rem 1rem;
  }
}

/* line 224, sass/components/components/_section-materials.scss */
.tab-panel .align-left {
  float: none;
}

@media screen and (min-width: 30em) {
  /* line 224, sass/components/components/_section-materials.scss */
  .tab-panel .align-left {
    float: left;
    margin: 0 1rem 1rem -3rem;
  }
}

/* line 239, sass/components/components/_section-materials.scss */
[role="presentation"] {
  display: block;
}

/* line 243, sass/components/components/_section-materials.scss */
[role="presentation"][data-tab-active] {
  background: #036800;
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 1, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 1, 1);
}

/* line 253, sass/components/components/_section-materials.scss */
[role="tab"]:focus {
  outline: 0;
}

/* line 268, sass/components/components/_section-materials.scss */
[role="tabpanel"][aria-hidden="true"] {
  display: none;
}

/* line 272, sass/components/components/_section-materials.scss */
[role="tabpanel"]:focus {
  outline: 0;
}

@media screen and (min-width: 800px) {
  /* line 278, sass/components/components/_section-materials.scss */
  [role="presentation"] {
    display: inline-block;
  }
  /* line 282, sass/components/components/_section-materials.scss */
  [role="presentation"][data-tab-active] [role="tab"]:after {
    content: '';
    display: inline-block;
    margin: auto;
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #036800;
  }
}

/* line 3, sass/components/components/_section-ossature.scss */
.section-ossature {
  background-color: #F5F5F5;
  margin-left: 1.111rem;
  margin-right: 1.111rem;
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
  padding-left: 1.111rem;
  padding-right: 1.111rem;
}

/* line 13, sass/components/components/_section-ossature.scss */
.section-ossature__title {
  font-size: 1.953em;
  text-align: center;
  margin: 0 auto 1.5rem;
  max-width: 64.444rem;
}

/* line 19, sass/components/components/_section-ossature.scss */
.section-ossature__title:after {
  content: "";
  display: block;
  height: 6px;
  width: 52px;
  background-color: #82BE43;
  border-radius: 3px;
  margin: 1.5rem auto;
}

/* line 24, sass/components/components/_section-ossature.scss */
.section-ossature__intro {
  font-weight: bold;
  margin: 0 auto 3rem;
  max-width: 35.556rem;
  text-align: center;
}

/* line 31, sass/components/components/_section-ossature.scss */
.section-ossature__list {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 48.062em) {
  /* line 31, sass/components/components/_section-ossature.scss */
  .section-ossature__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -rem(10);
    margin-right: -rem(10);
  }
}

/* line 42, sass/components/components/_section-ossature.scss */
.section-ossature__list li {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 48.062em) {
  /* line 42, sass/components/components/_section-ossature.scss */
  .section-ossature__list li {
    flex: 0 1 50%;
    padding-left: 0.556rem;
    padding-right: 0.556rem;
  }
}

@media all and (min-width: 62.5em) {
  /* line 42, sass/components/components/_section-ossature.scss */
  .section-ossature__list li {
    flex-basis: 25%;
  }
}

/* line 59, sass/components/components/_section-ossature.scss */
.section-ossature__list p {
  font-size: 0.8em;
}

/* line 63, sass/components/components/_section-ossature.scss */
.section-ossature__list h2 {
  margin-top: 1.5rem;
}

/* line 68, sass/components/components/_section-ossature.scss */
.icn-materiaux {
  background: url("../../images/icons/icn-materiaux.svg") no-repeat left top;
  height: 47px;
  width: 47px;
}

/* line 73, sass/components/components/_section-ossature.scss */
.icn-competences {
  background: url("../../images/icons/icn-competences.svg") no-repeat left top;
  height: 47px;
  width: 47px;
}

/* line 78, sass/components/components/_section-ossature.scss */
.icn-isolation {
  background: url("../../images/icons/icn-isolation.svg") no-repeat left top;
  height: 47px;
  width: 47px;
}

/* line 83, sass/components/components/_section-ossature.scss */
.icn-prix {
  background: url("../../images/icons/icn-prix.svg") no-repeat left top;
  height: 47px;
  width: 47px;
}

/* line 89, sass/components/components/_section-ossature.scss */
.section-ossature__action {
  text-align: center;
}

@media screen and (min-width: 48.062em) {
  /* line 18, sass/components/components/_section-price.scss */
  .section-price .site-section__body {
    width: 70%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 6, sass/components/components/_section-story.scss */
  .section-story__content {
    padding-left: 40%;
    width: 60%;
  }
}

/* line 3, sass/components/components/_section-text.scss */
.section-text__title {
  margin-top: 0;
}

/* line 6, sass/components/components/_taxonomy-teaser.scss */
.taxonomy-teaser__image {
  position: relative;
  line-height: 0;
}

/* line 10, sass/components/components/_taxonomy-teaser.scss */
.taxonomy-teaser__image:before {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background: #fefefe;
  position: absolute;
  bottom: 0;
  left: 1.111rem;
  z-index: 1;
}

/* line 20, sass/components/components/_taxonomy-teaser.scss */
.taxonomy-teaser__title {
  font-size: 1rem;
  margin: 0;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 76.25em) {
  /* line 20, sass/components/components/_taxonomy-teaser.scss */
  .taxonomy-teaser__title {
    font-size: 1.25em;
  }
}

/* line 30, sass/components/components/_taxonomy-teaser.scss */
.taxonomy-teaser__title > span {
  display: inline-block;
  margin-left: 2.333rem;
  position: relative;
}

/* line 35, sass/components/components/_taxonomy-teaser.scss */
.taxonomy-teaser__title > span:before {
  content: "";
  display: block;
  height: 3px;
  width: 30px;
  background: #82BE43;
  border-radius: 2px;
  position: absolute;
  top: 0.556rem;
  right: 100%;
  margin-right: 8px;
}

/* line 3, sass/components/components/_team.scss */
.team {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

@media screen and (min-width: 48.062em) {
  /* line 3, sass/components/components/_team.scss */
  .team {
    display: flex;
  }
}

/* line 11, sass/components/components/_team.scss */
.team .left {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 48.062em) {
  /* line 11, sass/components/components/_team.scss */
  .team .left {
    display: block;
    flex: 1;
    margin-bottom: 0;
    padding-right: 3rem;
    width: 40%;
  }
}

/* line 25, sass/components/components/_team.scss */
.team .right {
  position: relative;
}

@media screen and (min-width: 48.062em) {
  /* line 25, sass/components/components/_team.scss */
  .team .right {
    width: 60%;
  }
}

/* line 34, sass/components/components/_team.scss */
.team-member__figure {
  display: inline-block;
  line-height: 0;
  margin: 0;
  position: relative;
  flex: 0 1 48%;
  opacity: .9;
  position: relative;
}

@media screen and (min-width: 48.062em) {
  /* line 34, sass/components/components/_team.scss */
  .team-member__figure {
    float: right;
  }
}

/* line 45, sass/components/components/_team.scss */
.team-member__figure:hover {
  cursor: pointer;
}

@media screen and (min-width: 48.062em) {
  /* line 49, sass/components/components/_team.scss */
  .team-member__figure:first-child {
    margin-right: 1.111rem;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 55, sass/components/components/_team.scss */
  .team-member__figure:last-child {
    margin-top: -1.111rem;
  }
}

/* line 61, sass/components/components/_team.scss */
.team-member__figure:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #82BE43;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transform: translateX(-3px) translateY(-3px);
  transition: all 450ms cubic-bezier(0.07, 0.8, 0.28, 1.67);
}

/* line 73, sass/components/components/_team.scss */
.team-member__figure img {
  position: relative;
  z-index: 1;
}

/* line 80, sass/components/components/_team.scss */
.team-member__figure.is-active {
  opacity: 1;
  transform: none;
  z-index: 1;
}

/* line 85, sass/components/components/_team.scss */
.team-member__figure.is-active:before {
  transform: translateX(-10px) translateY(-10px);
}

/* line 91, sass/components/components/_team.scss */
.team-member {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 96, sass/components/components/_team.scss */
.team-member.is-active {
  transform: translateX(-10px) translateY(-10px);
  z-index: 1;
}

/* line 102, sass/components/components/_team.scss */
.team-member__head,
.team-member__body {
  opacity: 0;
  transform: rotate(-5deg) translateY(-30px) translateX(-30px);
  transform-origin: top left;
  transition: all 500ms cubic-bezier(0.07, 0.8, 0.28, 1.67);
}

/* line 109, sass/components/components/_team.scss */
.is-active .team-member__head, .is-active
.team-member__body {
  display: block;
  transform: none;
  opacity: 1;
}

/* line 117, sass/components/components/_team.scss */
.team-member__head .button {
  margin-left: 1em;
  vertical-align: text-bottom;
}

/* line 123, sass/components/components/_team.scss */
.team-member__title {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

@media screen and (min-width: 48.062em) {
  /* line 123, sass/components/components/_team.scss */
  .team-member__title {
    margin-top: 0;
  }
}

/* line 133, sass/components/components/_team.scss */
.team-member__body {
  max-width: 33.333rem;
  transition-delay: 200ms;
}

/* line 6, sass/components/components/_work.scss */
.work--teaser .work__title {
  font-size: 1.562em;
}

/* line 9, sass/components/components/_work.scss */
.work--teaser .work__title a {
  color: #333;
  text-decoration: none;
}

@media screen and (min-width: 76.25em) {
  /* line 15, sass/components/components/_work.scss */
  .work--teaser .work__content {
    padding-left: 1em;
    padding-right: 1em;
  }
}
