<p>Lorem ipsum dolor sit amet <a href="#">link</a> sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <strong>strong</strong> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <b>bold</b> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <del>del</del> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <em>emphasis</em> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <i>italic</i> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <q>quote</q> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <s>strikethrough</s> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <small>small</small> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <sub>subscript</sub> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <sup>superscript</sup> ad sonet audire repudiandae an eum.</p>
<p>Display an horizontal rule after this paragraph</p>
<hr>
<p>Lorem ipsum dolor sit amet <u>underline</u> ad sonet audire repudiandae an eum.</p>
<p>Lorem ipsum dolor sit amet <figcaption>figcaption</figcaption> ad sonet audire repudiandae an eum.</p>
