// Comment module.
// @see comment.html.twig

// Indent threaded comments.

.comment{
  border: 1px solid $gray90;
  background-color: $white;
  border-radius: 3px;
  box-shadow: $gray75 0 1px 4px;
  margin-bottom: rhythm(1);
  padding: 20px;
}

.comment__title{
  margin-top: rhythm(1);
}

// To wrap comment-replies on `threaded` comments
.indented{
  margin-left: 2em;
  margin-top: - rhythm(1/2);
}
