// More Help

.icon-help{
  padding-left: rem(24px);
  position: relative;

  &:before{
    background: url(../../images/core/help.png) no-repeat center;
    content: '';
    display: inline-block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 16px;
    transform: translateY(-50%);
  }
}
