

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../base/base.css">
  <link rel="stylesheet" href="../../components/system.css">
  <link rel="stylesheet" href="../../components/global.css">
  <link rel="stylesheet" href="../../components/components.css">
  <link rel="stylesheet" href="../../layout/layout.css">
  <link rel="stylesheet" href="../../state/state.css">
  <link rel="stylesheet" href="../../theme/theme.css">
  <link rel="stylesheet" href="../../styleguide.css">
  <title>Style guide</title>
</head>
<body>
  <div site="site-container">
    <main class="site-main" role="main" tabindex="-1">
      <section class="site-content l-constrain">
        <!-- Start: @button--default -->
<button class="button">Default</button>
<!-- End: @button--default -->

<!-- Start: @button--default-link -->
<a class="button">Default link button</a>
<!-- End: @button--default-link -->

<!-- Start: @button--primary -->
<a class="button button--primary">Primary btn</a>
<!-- End: @button--primary -->

      </section>
    </main>
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</body>
</html>

