

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../base/base.css">
  <link rel="stylesheet" href="../../layout/layout.css">
  <link rel="stylesheet" href="../../components/system.css">
  <link rel="stylesheet" href="../../components/global.css">
  <link rel="stylesheet" href="../../components/components.css">
  <link rel="stylesheet" href="../../state/state.css">
  <link rel="stylesheet" href="../../theme/theme.css">
  <link rel="stylesheet" href="../../styleguide.css">
  <title>Style guide</title>
</head>
<body>
  <div role="document" class="page">
    <!-- Start: @grid--default -->
<h3>Full width grid</h3>
<div class="l-grid">
  <div class="l-grid__row l-grid--cols-2">
    <div class="l-grid__column">.l-grid--cols-2</div>
    <div class="l-grid__column">.l-grid--cols-2</div>
  </div>
  <div class="l-grid__row l-grid--cols-3">
    <div class="l-grid__column">.l-grid--cols-3</div>
    <div class="l-grid__column">.l-grid--cols-3</div>
    <div class="l-grid__column">.l-grid--cols-3</div>
  </div>
  <div class="l-grid__row l-grid--cols-4">
    <div class="l-grid__column">.l-grid--cols-4</div>
    <div class="l-grid__column">.l-grid--cols-4</div>
    <div class="l-grid__column">.l-grid--cols-4</div>
    <div class="l-grid__column">.l-grid--cols-4</div>
  </div>
  <div class="l-grid__row l-grid--cols-5">
    <div class="l-grid__column">.l-grid--cols-5</div>
    <div class="l-grid__column">.l-grid--cols-5</div>
    <div class="l-grid__column">.l-grid--cols-5</div>
    <div class="l-grid__column">.l-grid--cols-5</div>
    <div class="l-grid__column">.l-grid--cols-5</div>
  </div>
  <div class="l-grid__row l-grid--cols-6">
    <div class="l-grid__column">.l-grid--cols-6</div>
    <div class="l-grid__column">.l-grid--cols-6</div>
    <div class="l-grid__column">.l-grid--cols-6</div>
    <div class="l-grid__column">.l-grid--cols-6</div>
    <div class="l-grid__column">.l-grid--cols-6</div>
    <div class="l-grid__column">.l-grid--cols-6</div>
  </div>
</div>
<!-- End: @grid--default -->

<!-- Start: @grid--constrained -->
<h3>Constrained grid</h3>
<div class="l-constrain">
  <div class="l-grid">
    <div class="l-grid__row l-grid--cols-2">
      <div class="l-grid__column">.l-grid--cols-2</div>
      <div class="l-grid__column">.l-grid--cols-2</div>
    </div>
    <div class="l-grid__row l-grid--cols-3">
      <div class="l-grid__column">.l-grid--cols-3</div>
      <div class="l-grid__column">.l-grid--cols-3</div>
      <div class="l-grid__column">.l-grid--cols-3</div>
    </div>
    <div class="l-grid__row l-grid--cols-4">
      <div class="l-grid__column">.l-grid--cols-4</div>
      <div class="l-grid__column">.l-grid--cols-4</div>
      <div class="l-grid__column">.l-grid--cols-4</div>
      <div class="l-grid__column">.l-grid--cols-4</div>
    </div>
    <div class="l-grid__row l-grid--cols-5">
      <div class="l-grid__column">.l-grid--cols-5</div>
      <div class="l-grid__column">.l-grid--cols-5</div>
      <div class="l-grid__column">.l-grid--cols-5</div>
      <div class="l-grid__column">.l-grid--cols-5</div>
      <div class="l-grid__column">.l-grid--cols-5</div>
    </div>
    <div class="l-grid__row l-grid--cols-6">
      <div class="l-grid__column">.l-grid--cols-6</div>
      <div class="l-grid__column">.l-grid--cols-6</div>
      <div class="l-grid__column">.l-grid--cols-6</div>
      <div class="l-grid__column">.l-grid--cols-6</div>
      <div class="l-grid__column">.l-grid--cols-6</div>
      <div class="l-grid__column">.l-grid--cols-6</div>
    </div>
  </div>
</div>
<!-- End: @grid--constrained -->

  </div>
</body>
</html>

