

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../base/base.css">
  <link rel="stylesheet" href="../../components/system.css">
  <link rel="stylesheet" href="../../components/global.css">
  <link rel="stylesheet" href="../../components/components.css">
  <link rel="stylesheet" href="../../layout/layout.css">
  <link rel="stylesheet" href="../../state/state.css">
  <link rel="stylesheet" href="../../theme/theme.css">
  <link rel="stylesheet" href="../../styleguide.css">
  <title>Style guide</title>
</head>
<body>
  <div site="site-container">
    <main class="site-main" role="main" tabindex="-1">
      <section class="site-content l-constrain">
        <div class="messages messages--status" role="contentinfo" aria-label="Status message">
  <h2 class="element-hidden">Status message</h2>
  <ul class="messages__list">
    <li class="messages__item">Lorem ipsum dolor sit amet, has ubique possim ad, sonet audire repudiandae an eum. Usu ne erat dicant dolorum, diam labore quidam an sea. Sit hinc perfecto ocurreret ut, ius altera dictas docendi ex. Iisque singulis salutandi ea ius, vim nobis tempor incorrupte at.</li>
    <li class="messages__item">Facilis disputando accommodare sed ut. Mea vero feugait eu. Ius in insolens tractatos, ut est saepe appareat. Ut civibus platonem scripserit duo, ut mazim doctus regione eam. Id vix dolorum insolens mandamus.</li>
    <li class="messages__item">His veniam accumsan philosophia no, eu paulo utinam ius, audiam consequat mei ei. Eum in fabellas intellegebat. Mea et offendit noluisse, eos vivendo volumus id, percipit aliquando eam et. Euismod gubergren rationibus et vis. Ei nam audiam equidem. Brute dolores vix in, ad sed soleat equidem reprimique. Ne lorem facilis reprimique vis.</li>
  </ul>
</div>

      </section>
    </main>
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</body>
</html>

