

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../base/base.css">
  <link rel="stylesheet" href="../../layout/layout.css">
  <link rel="stylesheet" href="../../components/system.css">
  <link rel="stylesheet" href="../../components/global.css">
  <link rel="stylesheet" href="../../components/components.css">
  <link rel="stylesheet" href="../../state/state.css">
  <link rel="stylesheet" href="../../theme/theme.css">
  <link rel="stylesheet" href="../../styleguide.css">
  <title>Style guide</title>
</head>
<body>
  <div class="page" role="document">
    <main role="main">
      <section class="main-content">
        <div class="l-constrain">
          <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
  <h4 class="visually-hidden">Pagination</h4>
  <ul class="pager__items">
    <li class="pager__item is-active">
      <a href="#" title="Current page">
        <span class="visually-hidden">Current page</span>1
      </a>
    </li>
    <li class="pager__item">
      <a href="#" title="Go to page 2">
        <span class="visually-hidden">Page</span>2
      </a>
    </li>
    <li class="pager__item">
      <a href="#" title="Go to page 3">
        <span class="visually-hidden">Page</span>3
      </a>
    </li>
    <li class="pager__item pager__item--next">
      <a href="#" title="Go to next page" rel="next">
        <span class="visually-hidden">Next page</span>
        <span aria-hidden="true">Next ›</span>
      </a>
    </li>
    <li class="pager__item pager__item--last">
      <a href="#" title="Go to last page">
        <span class="visually-hidden">Last page</span>
        <span aria-hidden="true">Last »</span>
      </a>
    </li>
  </ul>
</nav>

        </div>
      </section>
    </main>
  </div>
</body>
</html>

