

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../base/base.css">
  <link rel="stylesheet" href="../../components/system.css">
  <link rel="stylesheet" href="../../components/global.css">
  <link rel="stylesheet" href="../../components/components.css">
  <link rel="stylesheet" href="../../layout/layout.css">
  <link rel="stylesheet" href="../../state/state.css">
  <link rel="stylesheet" href="../../theme/theme.css">
  <link rel="stylesheet" href="../../styleguide.css">
  <title>Style guide</title>
</head>
<body>
  <div class="site-container">
    <section class="section-ossature">
  <div class="l-constrain">
    <h1 class="section-ossature__title">Avec l’ossature bois, nous vous proposons une alternative écologique abordable et efficace</h1>
    <p class="section-ossature__intro">La construction traditionnelle au niveau mondial est en ossature bois. En Belgique elle n’est pas la norme dû à notre passé minier et de fabrication de briques.</p>
    <ul class="section-ossature__list">
      <li>
        <i class="icn icn-materiaux"></i>
        <h3>Les matériaux</h3>
        <p>La construction à ossature en bois comporte de nombreux avantages et pourtant véhicule aussi certains aprioris.</p>
      </li>
      <li>
        <i class="icn icn-competences"></i>
        <h3>Nos compétences</h3>
        <p>Nos constructions sont isolées à partir de matériaux écologiques à hautes performances énergétiques.</p>
        <p>De plus, nous accordons un soin tout particulier à l'étanchéité à l'air afin de vous garantir une consommation énergétique minimale.</p>
      </li>
      <li>
        <i class="icn icn-isolation"></i>
        <h3>Primes à l’isolation</h3>
        <p>En tant qu'entreprise agréée par la Région Wallonne, vous bénéficiez des primes en vigueur en matière d'isolation écologique en travaillant avec nous.</p>
      </li>
      <li>
        <i class="icn icn-prix"></i>
        <h3>Le prix</h3>
        <p>L’éco-construction ne coûte pas plus cher que la construction dite “traditionnelle”. La différence de prix se fait souvent sur le choix des finitions comme dans une construction classique.</p>
        <p>Une construction durable représente une économie importante sur le long terme</p>
      </li>
    </ul>
    <a href="#" class="button button--primary"><i class="fa fa-arrow-alt-circle-right"></i> L’ossature bois</a>
  </div>
</section>

  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</body>
</html>

