

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../base/base.css">
  <link rel="stylesheet" href="../../layout/layout.css">
  <link rel="stylesheet" href="../../components/system.css">
  <link rel="stylesheet" href="../../components/global.css">
  <link rel="stylesheet" href="../../components/components.css">
  <link rel="stylesheet" href="../../state/state.css">
  <link rel="stylesheet" href="../../theme/theme.css">
  <link rel="stylesheet" href="../../styleguide.css">
  <title>Style guide</title>
</head>
<body>
  <div class="page" role="document">
    <main role="main">
      <section class="main-content">
        <div class="l-constrain">
          <table>
  <caption>Members</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
      <th>Favorite color</th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <td>John</td>
     <td>18</td>
     <td>Brussels</td>
     <td>Blue</td>
   </tr>
   <tr>
     <td>Ringo</td>
     <td>52</td>
     <td>Namur</td>
     <td>Green</td>
   </tr>
   <tr>
     <td>Paul</td>
     <td>18</td>
     <td>NYC</td>
     <td>Pink</td>
   </tr>
   <tr>
     <td>Carla</td>
     <td>22</td>
     <td>A city with a super long name that takes a few lines, or maybe only two or three</td>
     <td>Red</td>
   </tr>
  </tbody>
</table>

        </div>
      </section>
    </main>
  </div>
</body>
</html>

