

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../base/base.css">
  <link rel="stylesheet" href="../../layout/layout.css">
  <link rel="stylesheet" href="../../components/system.css">
  <link rel="stylesheet" href="../../components/global.css">
  <link rel="stylesheet" href="../../components/components.css">
  <link rel="stylesheet" href="../../state/state.css">
  <link rel="stylesheet" href="../../theme/theme.css">
  <link rel="stylesheet" href="../../styleguide.css">
  <title>Style guide</title>
</head>
<body>
  <div class="page" role="document">
    <main role="main">
      <section class="main-content">
        <div class="l-constrain">
          <nav class="tabs" role="navigation" aria-label="Tabs">
  <h2 class="visually-hidden">Secondary tabs</h2>
  <ul class="tabs--secondary nav">
    <li class="nav__item"><a href="#" >Bartik</a></li>
    <li class="nav__item"><a href="#" >Basic</a></li>
    <li class="nav__item"><a href="#" >Bootstrap</a></li>
    <li class="nav__item"><a href="#" >Gesso</a></li>
    <li class="is-active nav__item">
      <a href="#" class="is-active">Hops<span class="visually-hidden">(active tab)</span></a>
    </li>
    <li class="nav__item"><a href="#" >Neato!</a></li>
    <li class="nav__item"><a href="#" >Radix</a></li>
    <li class="nav__item"><a href="#" >Seven</a></li>
    <li class="nav__item"><a href="#" >ZURB Foundation 6</a></li>
  </ul>
</nav>

        </div>
      </section>
    </main>
  </div>
</body>
</html>

