<div class="page-intro">
  <div class="page-intro__title l-constrain"><h1 class="page__title">{{ title|render|striptags|raw }}</h1></div>
  <div class="page-intro__image">{{ image }}</div>
  <div class="l-constrain">
    <div class="page-intro__text">{{ text }}</div>
  </div>
</div>
