<div class="messages messages--warning" role="contentinfo" aria-label="Warning message">
  <h2 class="element-hidden">Warning message</h2>
  Lorem ipsum dolor sit amet, has ubique possim ad, sonet audire repudiandae an eum.
</div>
