/**
 * @file
 * Styles overrides for eu cookie compliance module
 */
/*
#sliding-popup{}
.sliding-popup-bottom{}
  .eu-cookie-compliance-banner{}
  .eu-cookie-compliance-banner-info{}
    .popup-content{}
    .info{}
    .eu-cookie-compliance-content{}
      #popup-text{}
      .eu-cookie-compliance-message{}

      #popup-buttons{}
      .eu-cookie-compliance-buttons{}
        .agree-button{}
        .eu-cookie-compliance-default-button{}
*/

// Import abstracts
@import '../abstracts/abstracts';

.sliding-popup-bottom{
  // JS overrides
  bottom: 1rem !important;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 99999;
  position: fixed;

  p{
    color: $primary-text-color;
    font-size: $font-size-md;
    margin: 0;
  }
}

.eu-cookie-compliance-banner{
  background-color: rgba($white, .8);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(#111, .15), 0 0 20px rgba(#111, .1);
  display: inline-block;
  padding: .4em .9em;
  text-align: center;
}

.eu-cookie-compliance-message,
.eu-cookie-compliance-buttons{
  display: inline-block;
}

.agree-button{
  @include button-unstyled;
  color: $primary-text-color;
  cursor: pointer;
  font-size: $font-size-md;
  margin: 0;
  padding: 0;
  outline: none;

  &:hover{
    color: $link-color;
  }
}
