/**
 * @file
 * Styles overrides for eu cookie compliance module
 */

// Import abstracts
@import '../abstracts/abstracts';

// Inlined css :
div#sliding-popup {
  background: rgba($white, .95);
  max-width: 960px;
}

// Should be defined in configuration but overridden here to follow chart colors
#sliding-popup h1,
#sliding-popup h2,
#sliding-popup h3,
#sliding-popup p{
  color: $primary-text-color;
}

.sliding-popup-bottom,
.sliding-popup-top {
  bottom: 1rem !important;
  border-radius: 3px;
  left: 0;
  margin: 0;
  margin: auto;
  padding: 0;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 99999;
  box-shadow: 1px 1px 3px rgba(#111, .15), 0 0 20px rgba(#111, .1);
}

.sliding-popup-bottom {
  position: fixed;
}

.sliding-popup-top {
  position: relative;
}

.eu-cookie-compliance-content {
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  width: 100%;

  [dir="rtl"] &{
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 460px) {
  .eu-cookie-compliance-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
  }
}

@media screen and (min-width: 460px) {
  .eu-cookie-compliance-buttons {
    text-align: right;
  }
}

// .eu-cookie-compliance-agree-button,
// .eu-cookie-compliance-more-button,
.eu-cookie-compliance-hide-button {
  background: none;
  border-radius: 6px;
  border: none;
  border-radius: initial;
  // color: $white;
  cursor: pointer;
  // font-family: Arial, sans-serif;
  font-weight: bold;
  margin-right: 5px;
  overflow: visible;
  padding: 4px 8px;
  text-decoration: none;
  vertical-align: middle;
  width: auto;

  // &:hover {
  //   color: $link-hover-color;
  // }
  &:active {
    position: relative;
    top: 1px;
  }
  &:focus {
    outline: 1px dashed $white;
  }
}

.eu-cookie-compliance-agree-button{
  @include button;
  @include button--primary;
  // border-radius: 1px;
  // color: $brand-primary;
  // border: 2px solid $brand-primary;
}

.eu-cookie-compliance-more-button{
  @include button-unstyled;
  cursor: pointer;
  padding: 1em;
}

.eu-cookie-compliance-message{
  h1,
  h2,
  h3,
  p{
    font-family: $base-font-family;
    // color: $white;
    // font-weight: bold;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 5px 0;
  }

  h1 {
    font-size: modular-scale(1);
  }

  h2 {
    font-size: modular-scale(0);
  }

  h3 {
    font-size: modular-scale(-1);
  }

  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .eu-cookie-compliance-message {
    max-width: 100%;
  }

  .eu-cookie-compliance-buttons {
    margin: 1rem 0 0;
    text-align: center;
  }
}
