// @file
// Global pages layout

.site-container{
  background-color: $page-color;
  // For a sticky footer
  // @todo see why it breaks in IE
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}

// Global header
.site-header{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: rhythm(1/3);
  padding-top: rhythm(1/3);
  width: 100%;

  @include mappy-query(b-medium) {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: rhythm(1);
    padding-top: rhythm(1);
  }
}

.button.button--header{
  position: relative;
  padding: 1em;
  font-size: rem(13);
  z-index: 101;

  &:hover{
    transform: translateY(2px);

    i{
      transform: translateY(1px);
    }
  }

  @include mappy-query(b-small) {
    padding: 1em 2em;
  }

  @include mappy-query(b-medium) {
    align-self: center;
  }

  span{
    color: lighten($brand-primary, 30%);
    display: none;

    @include mappy-query(b-medium) {
      display: inline;
    }
  }
}

.site-logo{
  flex-shrink: 1;
  margin-right: auto;
  max-width: rem(140);
  position: relative;
  z-index: 101;

  @include mappy-query(b-medium) {
    align-self: center;
    margin-right: initial;
    max-width: none;
  }

  // @include mappy-query(b-big) {
  //   max-width: none;
  // }
}

.site-navigation{
  @include mappy-query(b-medium) {
    // For IE
    flex: 1;
  }
}

.main-menu{
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  @include mappy-bp(max-width 768px) {
    background: rgba($white, .95);
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
  }

  @include mappy-query(b-medium) {
    align-items: flex-start;
    justify-content: center; // For IE
    position: relative;
    left: auto;
    right: auto;
  }
}

.main-menu-item{
  @include mappy-bp(max-width 768px) {
    margin-bottom: rhythm(2);
  }
}

.main-menu-link{
  color: $primary-text-color;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  @include mappy-bp(max-width 768px) {
    font-size: $font-size-xxl;
  }

  @include mappy-query(b-medium) {
    display: block;
    font-size: rem(16);
    padding-left: .75em;
    padding-right: .75em;

    &:after{
      background-color: $brand-primary;
      border-radius: 2px;
      // background-color: transparent;
      content: "";
      display: block;
      height: 3px;
      margin: 4px auto 0;
      width: 0;
      transition: all 180ms ease-in;
    }

    &:visited{
      color: $primary-text-color;
    }

    &.is-active{
      color: $brand-primary;

      &:after{
        width: 70%;
      }

      &:hover{
        color: $brand-primary;
        transform: none;

        &:after{
          transform: none;
        }
      }
    }

    &:hover{
      color: $primary-text-color;
      transform: translateY(-3px);

      &:after{
        transform: translateY(3px);
        width: 70%;
      }
    }
  }

  @include mappy-bp(940px) {
    font-size: rem(18);
  }
}

// Global main content sections
.site-main{
  flex: 1; // Sticky footer
  outline: none;
}

.site-content-top{}

.site-content{}

// Global footer
.site-footer{
  background-color: $brand-primary;
  box-sizing: border-box;
  margin: 0 rem(20) rem(20);
  padding: rhythm(1) 0;

  @include mappy-query(b-medium) {
    padding: rhythm(1) rem(20);
  }

  a{
    color: $white;
  }
}

// Footer c2a

.footer-c2a{
  margin-bottom: rhythm(1);

  @include mappy-query(b-medium) {
    display: flex;
  }

  .left{
    @include mappy-query(b-medium) {
      flex: 1 1 50%;
      margin-right: rhythm(3);
      max-width: rem(720);
    }

    @include mappy-query(b-big) {
      flex: 1 1 60%;
    }
  }

  .right{
    @include mappy-query(b-medium) {
      margin-top: rhythm(3/2);
    }
  }
}

.footer-c2a__title{
  color: $brand-primary-dark;
  font-size: font-size-xl;

  &:after{
    @include css-content(block, 56px, 3px);
    background-color: $brand-primary-dark;
    border-radius: 2px;
    margin-top: rhythm(1);
  }
}

.footer-c2a__text{
  color: $white;
  font-weight: 600;
}

.footer-c2a__contacts{
  color: $brand-primary-dark;
  list-style: none;
  padding-left: 0;

  a{
    color: $white;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:after{
      @include css-content(block, 0, 2px);
      background: $white;
      border-radius: 2px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      position: absolute;
      width: 30%;
      opacity: 0;
      transition: all .200s cubic-bezier(.15,0,.3,.8);
    }

    &:hover{
      transform: translateY(-2px);

      &:after{
        opacity: 1;
        width: 70%;
        transform: translateY(2px);
      }
    }
  }
}

.footer-c2a__contact{
  font-weight: 600;
  margin-bottom: rhythm(1);
  padding-left: rem(40);
  position: relative;

  i{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: rem(4);
    min-width: rem(30);
  }
}

.site-footer__copyright{
  color: $white;
  font-size: $font-size-md;
  margin-bottom: rhythm(1);
}

// Wave
// on frontpage works types

.l-flex-wave{
  @include mappy-query(b-medium) {
    display: flex;
    margin-left: - rem(10);
    margin-right: - rem(10);
  }
}

.l-flex-wave__header{
  @include mappy-query(b-medium) {
    padding-left: rem(10);
    padding-right: rem(10);
  }
}

.l-flex-wave__rows{
  @include mappy-query(b-medium) {
    display: flex;
    flex: 1 0 75%;
    padding-left: rem(10);
    padding-right: rem(10);
    margin-left: - rem(10);
    margin-right: - rem(10);
  }

  > *{
    margin-bottom: rhythm(1);

    @include mappy-query(b-medium) {
      margin-bottom: 0;
      flex-grow: 1;
      flex-basis: 0;
      padding-left: rem(10);
      padding-right: rem(10);

      &:first-child{
        margin-top: rhythm(2);
      }
      &:nth-child(2){
        margin-top: rhythm(3);
      }
      &:nth-child(3){
        margin-top: rhythm(1);
      }
    }
  }
}
