<header class="site-header l-constrain" role="banner">
  {{ content }}
  <a href="{{ button_url }}" class="button button--primary button--header"><i class="fa fa-arrow-down"></i> {{ button_text|raw }}</a>
</header>
