// Content section
// Paragraph currently used for sections of an article
// containing title/body/image and image position variant.

.content-section {
  margin: rhythm(3) 0;
}

// .field--type-text-with-summary
// Constrain Realisations body and Articles body inside a
// 8/12 grid for readability.
.work__body,
.content-section__text {
  h1 {
    font-size: $font-size-lg;
  }

  .layout--centered & {
    @include mappy-query(b-medium) {
      margin-left: auto;
      margin-right: auto;
      width: (8/10)*100%;
    }
  }
}

.content-section__image-left {
  margin-bottom: rhythm(2);

  @include mappy-query(b-medium) {
    float: left;
    margin-bottom: rhythm(1);
    margin-left: - (1/8)*100%;
    margin-right: (1/8)*100%;
    width: (4/8)*100%;
  }
}

%content-image {
  display: block;
  text-align: center;
}

.content-section__image-before {
  @extend %content-image;
  margin-bottom: rhythm(2);
}

.content-section__image-after {
  @extend %content-image;
  margin-top: rhythm(2);
}
