// No styling necessary for the justified gallery.
// This is the styling for a lonely image, should be the case for Realisation
// when only one item has been defined for the cover.
.gallery-image-self {
  margin-bottom: rhythm(3);
  margin-top: rhythm(2);
  text-align: center;
}
