// Hero

.block--hero{
  @include mappy-query(b-medium) {
    min-height: 90vh;
    position: relative;
  }
}

.site-hero{
  background-color: $brand-tertiary;
  overflow: hidden;
  position: relative;

  @include mappy-query(b-medium) {
    bottom: rem(20);
    left: rem(20);
    position: absolute;
    right: rem(20);
    top: 0;
  }

  &.js-imageloaded{
    img{
      transform: none;
      opacity: 1;
    }
  }

  &:after{
    background: rgba($brand-primary-dark, .3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  img{
    display: block;
    transform-origin: center bottom;
    transform: scale(1.01) translateY(48px);
    transition-property: all;
    transition-duration: 350ms;
    opacity: 0;
    width: 100%;

    @include mappy-query(b-medium) {
      bottom: 0;
      right: 0;
      position: absolute;
      width: 100%;
    }
  }
}

.site-hero__slogan{
  margin-top: 0;
  padding-bottom: rhythm(2);
  padding-top: rhythm(2);
  position: relative;
  z-index: 2;

  @include mappy-query(b-medium) {
    color: $brand-primary-dark;
    display: inline-block;
    font-size: modular-scale(4);
    left: 10vw;
    margin-bottom: 0;
    padding: 0;
    top: 10vh;
  }

  @include mappy-query(b-big) {
    font-size: rem(48);
  }

  > span{
    display: block;
    overflow: hidden;

    &+span{
      span{
        transition-delay: .5s;
      }

      &+span{
        span{
          transition-delay: .6s;
        }
      }
    }

    span{
      position: relative;
      opacity: 0;
      top: 15vh;
      transition: all .340s .4s cubic-bezier(.15,0,.3,.8);

      .js-imageloaded &{
        opacity: 1;
        top: 0;
      }
    }
  }

  strong{
    display: inline-block;
    font-weight: normal;
    position: relative;

    &:after{
      @include css-content(inline-block, 100%, 2px);
      background: $brand-primary;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 2px;
    }
  }
}
