// Realisations teasing (frontpage)

.reals-teasing{
  margin-bottom: rhythm(2);
  margin-top: rhythm(2);

  @include mappy-query(b-medium) {
    display: flex;
    margin-left: -rem(10);
    margin-right: -rem(10);
    margin-top: rhythm(7);
    margin-bottom: rhythm(5);
  }

  .left,
  .right{
    margin-left: rem(10);
    margin-right: rem(10);
  }

  .left{
    flex: 1 1 66.66%;

    @include mappy-query(b-medium) {
      display: flex;
      margin-left: -rem(20);
      margin-right: -rem(20);
    }
  }

  .reals-item{
    @include mappy-query(b-medium) {
      border-right: 1px solid $border-color;
      padding-left: rem(20);
      padding-right: rem(20);
      flex: 1 1 50%;
    }

    &:first-child{
      @include mappy-query(b-medium) {
        margin-top: - rhythm(2);
      }
    }
  }

  .right{
    flex: 1 1 33.33%;
  }
}

.reals-teasing__title{
  @include mappy-query(b-big) {
    font-size: $font-size-xxl;
  }
}
