// Section price (ossature bois)

.section-price{
  position: relative;

  &:after{
    @include mappy-query(b-medium) {
      @include css-content(inline-block, 40%, 100%);
      background: url("../../images/bg/bg-section-price.png") no-repeat right top;
      background-size: contain;
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .site-section__body{
    @include mappy-query(b-medium) {
      box-sizing: border-box;
      padding-right: rhythm(1);
      width: 60%;
    }
  }
}
