// Section Story
// Une histoire de famille

// .section-story{}

.section-story__content{
  @include mappy-query(b-medium) {
    padding-left: (5/12)*100%;
    position: relative;
    width: (6/12)*100%;
  }
}

.section-story__images{
  @include mappy-query(b-medium) {
    position: absolute;
    right: (7/12)*100%;
    // right: calc((7/12)*100% + 1.5rem);
    top: rhythm(2);
    width: (5/12)*100%;
  }

  img{
    display: block;
    float: right;
    margin: 0 rem(8);
    // height: 200px;
    // width: 124px;
    // width: 33.3%;
    @include mappy-query(b-medium) {
      &:nth-child(2n){
        margin-top: 4rem;
      }
      &:first-child{
        margin-top: 2rem;
      }
    }
  }
}
