// Section skills (expertise)

// .section-skills{}

.section-skills__content{
  p{
    margin-top: 0;
  }

  @include mappy-query(b-medium) {
    float: left;
    width: (1/2) * 100%;
  }
}

.section-skills__figure{
  margin: 0;

  @include mappy-query(b-medium) {
    margin: rhythm(2) - rem(20) 0 0;
    float: right;
    width: (5/12) * 100%;
  }
}

.section-skills__copyright{
  background-color: $brand-tertiary;
  color: $primary-text-color;
  display: inline-block;
  float: right;
  font-size: $font-size-sm;
  margin-top: - rhythm(2/3);
  padding: rem(8) rem(12);
  position: relative;
  text-align: right;
  z-index: 1;

  a{
    border-bottom: 1px solid $primary-text-color;
    color: $primary-text-color;
    font-weight: bold;
    text-decoration: none;

    &:hover{
      color: $link-color;
      border-color: $link-color;
    }
  }
}
