// Team members block (view)

.team{
  margin-bottom: rhythm(2);
  margin-top: rhythm(2);

  @include mappy-query(b-medium) {
    display: flex;
  }

  .left{
    display: flex;
    justify-content: space-between;
    margin-bottom: rhythm(1);

    @include mappy-query(b-medium) {
      display: block;
      flex: 1;
      margin-bottom: 0;
      padding-right: (1/12)*100%;
      width: (5/12)*100%;
    }
  }

  .right{
    position: relative;

    @include mappy-query(b-medium) {
      margin-top: rhythm(2);
      margin-right: (1/12)*100%;
      width: (6/12)*100%;
    }
  }
}

.team-member__figure{
  background-color: $brand-tertiary;
  display: inline-block;
  line-height: 0;
  margin: 0;
  position: relative;
  flex: 0 1 48%;


  &:before{
    @include css-content(block, 100%, 100%);
    background: $brand-tertiary;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transform: translateX(7px) translateY(7px);
    transition: all 450ms cubic-bezier(0.07, 0.8, 0.28, 1.67);
  }

  @include mappy-query(b-medium) {
    float: right;
  }

  &:hover{
    cursor: pointer;
    transform: rotate(1deg);
  }

  &:first-child{
    @include mappy-query(b-medium) {
      margin-right: rem(50);
    }
  }

  &:last-child{
    &:before{
      transform: translateX(-7px) translateY(-7px);
    }

    @include mappy-query(b-medium) {
      margin-top: - rem(20);
    }
  }

  img{
    opacity: .5;
    position: relative;
    z-index: 1;
  }

  position: relative;
  z-index: 2;
  &.is-active{
    transform: none;
    z-index: 1;

    img{
      opacity: 1;
    }

    &:before{
      background: $brand-primary;
      transform: translateX(-10px) translateY(-10px);
    }
  }
}

.team-member{
  position: absolute;
  top: 0;
  left: 0;

  &.is-active{
    // transform: translateX(-10px) translateY(-10px);
    z-index: 1;
  }
}

.team-member__head,
.team-member__body{
  opacity: 0;
  transform: rotate(-5deg) translateY(-30px) translateX(-30px);
  transform-origin: top left;
  transition: all 500ms cubic-bezier(0.07, 0.8, 0.28, 1.67);

  .is-active &{
    display: block;
    transform: none;
    opacity: 1;
  }
}

.team-member__head{
  .is-active &{
    display: flex;
  }
}

.team-member__head{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .button{
    margin-left: auto;
    vertical-align: text-bottom;
  }
}

.team-member__title{
  display: inline-block;
  margin-bottom: 0;
  margin-top: rhythm(1);

  @include mappy-query(b-medium) {
    margin-top: 0;
  }
}

.team-member__body{
  // max-width: rem(600);
  transition-delay: 200ms;
}
