// Work / réalisations

.work{}

.work--teaser{
  .work__title{
    font-size: $font-size-xl;

    a{
      color: $primary-text-color;
      text-decoration: none;
    }
  }

  .work__content{
    @include mappy-query(b-big) {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.work__image{
  a{
    display: block;
    overflow: hidden;

    &:hover{
      transform: translateY(-5px);

      img{
        transform-origin: center;
        transform: scale(1.05);
      }
    }
  }

  img{
    display: block;
  }
}
