<footer class="site-footer" role="contentinfo" id="contact">
  <div class="l-constrain">
    {{ content }}
    {% if copyright %}
    <div class="site-footer__copyright">{{ copyright }}</div>
    {% endif %}
  </div>
</footer>
