/* line 7, sass/layout/_grid.scss */
.l-constrain {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media screen and (min-width: 48.062em) {
  /* line 7, sass/layout/_grid.scss */
  .l-constrain {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 76.25em) {
  /* line 7, sass/layout/_grid.scss */
  .l-constrain {
    max-width: 76.25rem;
  }
}

@media screen and (min-width: 83.75em) {
  /* line 7, sass/layout/_grid.scss */
  .l-constrain {
    max-width: 83.125rem;
  }
}

/* line 31, sass/layout/_grid.scss */
.l-grid {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

/* line 20, node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.l-grid::after {
  clear: both;
  content: "";
  display: table;
}

/* line 36, sass/layout/_grid.scss */
.l-constrain .l-grid {
  margin-left: 0;
  margin-right: 0;
}

/* line 42, sass/layout/_grid.scss */
.l-grid__row {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

/* line 20, node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.l-grid__row::after {
  clear: both;
  content: "";
  display: table;
}

/* line 48, sass/layout/_grid.scss */
.l-grid__column {
  box-sizing: border-box;
  float: left;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
}

@media screen and (min-width: 48.062em) {
  /* line 55, sass/layout/_grid.scss */
  .l-grid--cols-2 .l-grid__column {
    width: 50%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 60, sass/layout/_grid.scss */
  .l-grid--cols-3 .l-grid__column {
    width: 33.333%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 65, sass/layout/_grid.scss */
  .l-grid--cols-4 .l-grid__column {
    width: 25%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 70, sass/layout/_grid.scss */
  .l-grid--cols-5 .l-grid__column {
    width: 20%;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 75, sass/layout/_grid.scss */
  .l-grid--cols-6 .l-grid__column {
    width: 16.667%;
  }
}

/* line 4, sass/layout/_page.scss */
.site-container {
  background-color: #fefefe;
}

@media screen and (min-width: 48.062em) {
  /* line 9, sass/layout/_page.scss */
  .site-header {
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-width: 48.062em) {
  /* line 16, sass/layout/_page.scss */
  .site-navigation {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* line 23, sass/layout/_page.scss */
.site-logo {
  padding-top: 1.562rem;
}

/* line 27, sass/layout/_page.scss */
.main-menu {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

@media screen and (min-width: 48.062em) {
  /* line 27, sass/layout/_page.scss */
  .main-menu {
    display: flex;
    align-items: flex-start;
  }
}

/* line 38, sass/layout/_page.scss */
.main-menu-link {
  color: #333;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (min-width: 48.062em) {
  /* line 38, sass/layout/_page.scss */
  .main-menu-link {
    display: block;
    padding-left: .75em;
    padding-right: .75em;
  }
  /* line 49, sass/layout/_page.scss */
  .main-menu-link:before {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: transparent;
    content: "";
    display: block;
    height: 2.5rem;
    width: 2px;
  }
  /* line 58, sass/layout/_page.scss */
  .main-menu-link.is-active {
    color: #82BE43;
  }
  /* line 61, sass/layout/_page.scss */
  .main-menu-link.is-active:before {
    background-color: #82BE43;
  }
  /* line 67, sass/layout/_page.scss */
  .main-menu-link:hover:before {
    background-color: #82BE43;
  }
}

/* line 75, sass/layout/_page.scss */
.site-main {
  outline: none;
}
