{#
/**
 * @file
 * Theme override for Section Expertise
 *
 */
#}
{%
  set block_class = 'block-' ~ plugin_id|clean_class
%}
{%
  set classes = [
    block_class,
  ]
%}
<div{{ attributes.addClass(classes)|without('id') }}>
  {% set link = pattern('section_button', {
    text: content.field_link.0['#title'],
    url: content.field_link.0['#url']}) %}
  {% block content %}
    {{ pattern('section_ossature', {
      title: label,
      subtitle: content.field_intro,
      link: link,
    }) }}
  {% endblock %}
</div>
