{#
/**
 * @file
 * Widget pattern.
 */
#}
<article class="exemple-uipattern">
  {% if title %}
  <h1 class="exemple-uipattern--title">{{ title }}</h1>
  {% endif %}
  {% if text %}
  <div class="exemple-uipattern--text">
  {{ text }}
  </div>
  {% endif %}
  <div class="thumbnail">
    <div class="caption">
      {% if image %}
      {{ image }}
      {% endif %}
    </div>
  </div>
</article>
