// Branding

.site-logo{
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.site-name{
  color: $primary-text-color;
  font-size: $font-size-lg;
  font-weight: bold;
  text-decoration: none;
}

// .site-slogan{}
