// Buttons

.button{
  @include button--default;
}

.button--primary{
  @include button--primary;
}

.button--wide{
  width: 100%;
}

.button--small{
  font-size: $font-size-md;
  padding: .75em 1em;
}

.button--reverse{
  @include button--reverse;
}
