// Form item

.form-item {
  margin: rhythm(1) 0;

  .form-item{
    margin-top: 0;
  }
}

.form-item__label {
  display: block;
  color: $form-label-color;
  font-weight: bold;
  font-family: $form-label-font;
  margin-bottom: rhythm(1/3);

  &.option{
    display: inline;
    font-weight: normal;
    font-family: $base-font-family;
  }
}

// Consider this style as a default behavior that should be replaced
// depending on the form. Especially if all fields are required. E.g.:
// - inform the user after form submission
// - provide an "optional" marker instead
// - group required and optional fields
.form-required{
  &:after{
    content: '*';
    color: red;
    display: inline-block;
  }
}

.form-item__description {
  color: $secondary-text-color;
  font-size: $font-size-md;
  line-height: 1.3;
  margin-top: rhythm(1/3);
}

.form-checkboxes .form-type-checkbox,
.form-radios .form-type-radio {
  margin: 0;
}

.form-date,
.form-email,
.form-password,
.form-tel,
.form-text,
.form-textarea {
  background-color: $form-background-color;
  border: 1px solid $form-border-color;
  border-radius: 3px;
  box-shadow: inset rgba($black, .15) 1px 1px 1px;
  box-sizing: border-box;
  color: $form-text-color;
  font-size: $form-text-size;
  font-family: $form-item-font;
  line-height: 1;
  padding: rhythm(1/3, $form-text-size) rem(10);
  width: 100%;

  @include mappy-query(b-small) {
    width: auto;
  }

  &:focus {
    border-color: $link-color;
    box-shadow: inset rgba($black, .15) 1px 1px 1px, $link-color 0 0 4px;
    color: darken($form-text-color, 10%);
    outline: 0;
  }

  // &.required{}

  &.error{
    border-color: $error-color;

    &:focus{
      box-shadow: inset rgba($black, .15) 1px 1px 1px, $error-color 0 0 4px;
    }
  }
}

.form-textarea{
  line-height: 1.5;
  resize: vertical;
}

.form-search{
  border: 1px solid $form-border-color;
  border-radius: 20px;
  box-shadow: inset rgba($black, 0.15) 1px 1px 1px;
  color: $form-text-color;
  line-height: 1;
  padding: rhythm(1/3, $font-size-normal) $font-size-normal;

  &:focus {
    border-color: darken($form-border-color, 15%);
    color: darken($form-text-color, 10%);
    outline: 0;
  }
}

.form-select{
  background-color: $form-background-color;
  border: 1px solid $form-border-color;
  border-radius: 3px;
  color: $form-text-color;
  font-size: $form-text-size;
  line-height: 1;
  width: 100%;
  white-space: nowrap;

  &:focus {
    box-shadow: lighten($link-color, 15%) 0 0 5px;
    outline: 0;
  }

  @include mappy-query(b-small) {
    width: auto;
  }
}
