/**
 * @file
 * Styles overrides for eu cookie compliance module
 */
/* line 8, sass/overrides/eu_cookie_compliance.scss */
body {
  background-color: green !important;
}

/* line 12, sass/overrides/eu_cookie_compliance.scss */
div#sliding-popup {
  background: rgba(254, 254, 254, 0.95);
  max-width: 960px;
}

/* line 18, sass/overrides/eu_cookie_compliance.scss */
#sliding-popup h1,
#sliding-popup h2,
#sliding-popup h3,
#sliding-popup p {
  color: #333;
}

/* line 25, sass/overrides/eu_cookie_compliance.scss */
.sliding-popup-bottom,
.sliding-popup-top {
  bottom: 1rem !important;
  border-radius: 3px;
  left: 0;
  margin: 0;
  margin: auto;
  padding: 0;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 99999;
  box-shadow: 1px 1px 3px rgba(17, 17, 17, 0.15), 0 0 20px rgba(17, 17, 17, 0.1);
}

/* line 40, sass/overrides/eu_cookie_compliance.scss */
.sliding-popup-bottom {
  position: fixed;
}

/* line 44, sass/overrides/eu_cookie_compliance.scss */
.sliding-popup-top {
  position: relative;
}

/* line 48, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-content {
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

/* line 54, sass/overrides/eu_cookie_compliance.scss */
[dir="rtl"] .eu-cookie-compliance-content {
  flex-direction: row-reverse;
}

@media screen and (min-width: 460px) {
  /* line 60, sass/overrides/eu_cookie_compliance.scss */
  .eu-cookie-compliance-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
  }
}

@media screen and (min-width: 460px) {
  /* line 69, sass/overrides/eu_cookie_compliance.scss */
  .eu-cookie-compliance-buttons {
    text-align: right;
  }
}

/* line 76, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-hide-button {
  background: none;
  border-radius: 6px;
  border: none;
  border-radius: initial;
  cursor: pointer;
  font-weight: bold;
  margin-right: 5px;
  overflow: visible;
  padding: 4px 8px;
  text-decoration: none;
  vertical-align: middle;
  width: auto;
}

/* line 95, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-hide-button:active {
  position: relative;
  top: 1px;
}

/* line 99, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-hide-button:focus {
  outline: 1px dashed #fefefe;
}

/* line 104, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-agree-button {
  appearance: none;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.889rem;
  font-weight: bold;
  line-height: 1.3;
  padding: .875em 2em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  background-color: #82BE43;
  color: #fefefe;
}

/* line 252, sass/abstracts/_mixins.scss */
.eu-cookie-compliance-agree-button i, .eu-cookie-compliance-agree-button i:before {
  transition: none;
}

/* line 256, sass/abstracts/_mixins.scss */
.eu-cookie-compliance-agree-button:active {
  transform: translateY(1px);
}

/* line 260, sass/abstracts/_mixins.scss */
.eu-cookie-compliance-agree-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 291, sass/abstracts/_mixins.scss */
.eu-cookie-compliance-agree-button i {
  margin-right: .35em;
}

/* line 295, sass/abstracts/_mixins.scss */
.eu-cookie-compliance-agree-button:hover {
  background-color: #78b03d;
  color: #fefefe;
  transform: translateX(2px);
}

/* line 300, sass/abstracts/_mixins.scss */
.eu-cookie-compliance-agree-button:hover i {
  transform: translateX(1px);
  transition: all 0.2s cubic-bezier(0.15, 0, 0.3, 0.8);
}

/* line 309, sass/abstracts/_mixins.scss */
.eu-cookie-compliance-agree-button:focus {
  box-shadow: #c1dfa2 0 0 12px, inset #75ac3b 0 0 0 2px;
  color: #fefefe;
  outline: 0;
}

/* line 316, sass/abstracts/_mixins.scss */
.eu-cookie-compliance-agree-button:visited {
  color: #fefefe;
}

/* line 112, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-more-button {
  background: transparent;
  border: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
  padding: 1em;
}

/* line 119, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-message h1,
.eu-cookie-compliance-message h2,
.eu-cookie-compliance-message h3,
.eu-cookie-compliance-message p {
  font-family: "Nunito", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 5px 0;
}

/* line 131, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-message h1 {
  font-size: 1.25em;
}

/* line 135, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-message h2 {
  font-size: 1em;
}

/* line 139, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-message h3 {
  font-size: 0.8em;
}

/* line 143, sass/overrides/eu_cookie_compliance.scss */
.eu-cookie-compliance-message p {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  /* line 149, sass/overrides/eu_cookie_compliance.scss */
  .eu-cookie-compliance-message {
    max-width: 100%;
  }
  /* line 153, sass/overrides/eu_cookie_compliance.scss */
  .eu-cookie-compliance-buttons {
    margin: 1rem 0 0;
    text-align: center;
  }
}
