

<div class="footer-c2a">
  <div class="left">
    <h1 class="footer-c2a__title">Besoin d’un conseil ?<br>Envie de visiter un chantier ?</h1>
    <div class="footer-c2a__text">N’hésitez pas à nous contacter, nous répondons à toutes vos question et nous vous accompagnons volontier pour une visite d’une de nos construction en cours ou achevée.</div>
  </div>
  <div class="right">
    <ul class="footer-c2a__contacts">
      <li class="footer-c2a__contact">
        <i class="fa fa-mobile"></i>  <a href="tel:+32494084000">0494/084.000</a></a>
      </li>
      <li class="footer-c2a__contact">
        <i class="fa fa-paper-plane"></i>  <a href="mailto:n.de%77ert@g%6d%61il.com" rel="nofollow">n.dewert@gmail.com</a></a>
      </li>
      <li class="footer-c2a__contact">
        <i class="fa fa-facebook-f"></i>  <a href="https://fr-fr.facebook.com/public/Nicolas-Dewert">Facebook</a></a>
      </li>
    </ul>
  </div>
</div>

