

<div class="messages messages--error" role="contentinfo" aria-label="Error message">
  <div role="alert">
    <h2 class="element-hidden">Error message</h2>
    His veniam accumsan philosophia no, eu paulo utinam ius, audiam consequat mei ei. Eum in fabellas intellegebat. Mea et offendit noluisse, eos vivendo volumus id, percipit aliquando eam et. Euismod gubergren rationibus et vis. Ei nam audiam equidem. Brute dolores vix in, ad sed soleat equidem reprimique. Ne lorem facilis reprimique vis.
  </div>
</div>

