{# Needs <div class="js"></div> wrapper #}
<div class="accordion" data-aria-accordion data-multi data-transition=".2" data-default="none">
  <h3 class="accordion__heading">{{ heading }} <i class="fa fa-arrow-alt-circle-up"></i></h3>
  <div class="accordion__panel">
    {{ panel }}
  </div>
</div>
