<div class="js">

<div class="accordion" data-aria-accordion data-multi data-transition=".2" data-default="none">
  <h3 class="accordion__heading">{{ heading }}</h3>
  <div class="accordion__panel">
    {{ panel }}
  </div>
</div>

</div>
